{% extends 'body.html'%}
{% csrf_token %}
 {% block style %}
<style>
</style>
<title>會員</title>
{% endblock %} {% block content %}

<div style="width: 30rem;" class="container">


    <form method="POST" action="/loginscheck">
        {% csrf_token %}
       
        <div class="form-group">
            <label for="email" color="white">Email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password" color="white">Password</label>
            <input type="password" class="form-control" id="password" name="password" aria-describedby="emailHelp" placeholder="Enter password">
        </div>
    
        <!-- <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="rememberme" value="yes">
            <label class="form-check-label" for="exampleCheck1" color="white"></label>記住我
        </div> -->
        <button type="submit" class="btn btn-primary mt-2">
            <i class="fa fa-sign-in" aria-hidden="true"></i>登入</button>
    </form>

</div>
{% endblock %}