{% extends 'body.html'%}
{% block style %}
<style>
</style>
<title>費用說明</title>
{% endblock %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row">
      <label for="id" class="col-sm-2 col-form-label">ID</label>
      <div class="col-sm-10">
          <select id="id" name="yid" class="form-control" >                    
              {% for category in categories %}
              {% if singleproduct.1 == category.0 %}
                <option value="{{category.0}}" selected>{{category.1}}</option>
              {% else %}
                <option value="{{category.0}}">{{category.1}}</option>
              {% endif %}
              {% endfor %}
          </select>       
      </div>
    </div>
    <div class="form-group row">
      <label for="modelnumber" class="col-sm-2 col-form-label">ModelNumber</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="modelnumber" name="modelnumber" placeholder="ModelNumber" value="{{singleproduct.2}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="modelname" class="col-sm-2 col-form-label">ModelName</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="modelname" name="modelname" placeholder="ModelName"  value="{{singleproduct.3}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="unitcost" class="col-sm-2 col-form-label">UnitCost</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="unitcost" name="unitcost" placeholder="UnitCost"  value="{{singleproduct.5}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="productimage" class="col-sm-2 col-form-label">ProductImage</label>
      <div class="col-sm-10">
        <input type="file" class="form-control" id="productimage" name="productimage" placeholder="ProuctImage">
        <img src="/media/{{singleproduct.4}}" id="img1">
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
          <textarea id="description" name="description" class="form-control" placeholder="Description" >{{singleproduct.6}}</textarea>
      
      </div>
    </div>
    
    
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> 修改</button>
      </div>
    </div>
  </form>

{% endblock %}
{% block script %}
  <script>
    document.querySelector("#productimage").addEventListener("change",function(event){
       //FileReader
       var theFile = this.files[0];
       var reader = new FileReader();
       var theImg = document.querySelector("#img1");
       reader.readAsDataURL(theFile);
       reader.addEventListener("load",function(event){
          theImg.src = event.target.result;
       })
    })
  </script>
{% endblock %}